@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
  padding: 0px;
  margin: 0px;
}

html, body{
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

h3{
  font-size: 28px;
  color: #44ACA6;
}

p{
  font-size: 16px;
}
.wrapper{
  height: auto;
  width: auto;
  box-sizing: border-box;
  background-image: url("images/bg_underconstruction.jpg");
  background-size: cover;
  background-position: center center;
  overflow-x: hidden; 
}

.block{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.inner_box{
  width: 960px;
  height: 560px;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  background-image: url("images/box_960_560.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

}
.content{
    width: 550px;
    height: 500px;
    margin-top: 125px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    color: #CEC048;
    text-align: center;
}

.logo{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 5%;
}

.logo img{
  height: 200px;
  width: auto;
}