body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("images/bg.png");
  /* background: linear-gradient(to bottom, #1e5799 0%,#e0e023 51%,#7db9e8 100%); */
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-40px);
  }
  100% {
    transform: translatey(0px);
  }
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 450px;
  height: 550px;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
.avatar img {
  width: 100%;
  height: auto;
}